{% extends 'default_page.html' %}
{% load static %}
{% block 'slider' %}

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Your Cart</h2>
			</div>
		</div>
	</div>
	</section>

{% if request.session.cart_disp_count %}
		<div class="container">
			<table class="table table-bordered">
				<tr>
					<th>Image</th>
					<th>name</th>
					<th>price</th>
					<th>quantity</th>
					<th>Action</th>
				</tr>
				{% for ele in allCart %}
				<tr>
					{% for key,val in ele.items %}
						<td><img src="{{val.0}}" style="height:80px;width: 100px;"></td>
						<td>{{val.1}}</td>
						<td>{{val.2}}</td>
						<td>{{val.3}}</td>
						<td><a href="remove/{{key}}" class="btn">Remove</a>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
			<div class="row">
				<div class="col-lg-4"></div>
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="panel panel-info ">
						<div class="panel-heading">Total </div>
						<div class="panel-body">
							Rs. {{request.session.total_amount}}<br><br>
							<a href="/checkout" class="btn btn-info">Proceed</a> <!-- ekhan theke urls.py te gie checkout er jonno link banate hbe -->
						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<h2>Cart is Empty</h2>
	{% endif %}


{% endblock %}